#[last.fm]
# You have to have your own unique two values for API_KEY and API_SECRET
# Obtain yours from http://www.last.fm/api/account for Last.fm
api_key = 
api_secret =

#[similar artists]
# similar artists must have this min score
min_score = 0.3333
# add no more than this many similar artists
max_to_add = 10

#[telegram]
# telegram bot api key
bot_api = 

#[database]
# SQLite database url
db_address = 

#[discogs]
# discogs personal access token
discogs_token = 
